.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Featured Product and Product Section */

.featured-head {
  background: #343c44;
  padding: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  width: 90%;
  margin: auto;
  gap: 10px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  width: calc(25% - 7.5px);
  height: 28rem;
  border-top: 1px solid #efefef;
  background: floralwhite;
}

.featured-list {
  justify-content: space-evenly;
}

.featured-product {
  margin: 1rem 0;
}

.product-image {
  flex: 3 1 100rem;
  padding: 2rem 0rem;
  background-color: #00000052;
  width: 100%;
  height: 100%;
}

.product-link {
  background: #55606c;
  font-size: 16px;
  width: 100%;
  padding: 10px 0px 10px 0px;
  color: #fff;
  text-decoration: none;
}

.product-title {
  margin-bottom: 0 !important;
}

.product-price {
  font-size: 14px;
}

.product-link:hover {
  background: #343c43;
}

.product img {
  min-height: 250px;
  height: 21vh;
  background-color: #00000052;
}

/* Product Details Section */

.product-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 80vh;
  text-align: center
}

.detail-image {
  text-align: center;
  //temporary
  height: 500px;
  width: 100%;
  background-color: #00000052; 
}

.detail-description {
  display: flex;
  flex: 1 1 50rem;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75%;
  padding: 0 5rem;
}

/* Hader */
.menu-link {
  color: #fff;
  text-decoration: none;
}

.setting-link {
  color: #000;
  text-decoration: none;
}

/* Dashboard Section */

.admin-wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 0;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px #c7c7c7 solid;
  padding: 2rem;
}

.form-image {
  flex: 1 1 50rem;
}

.image-preview {
  width: 35rem;
}

.form-fields {
  flex: 3 1 50rem;
  text-align: left;
}

.form-fields input {
  width: 100%;
  height: 4rem;
  font-size: 2rem;
}

.form-fields textarea {
  width: 100%;
  font-size: 2rem;
}

.form-wrapper label {
  margin: 0rem 2rem;
  text-align: left;
}

.title-form,
.description-form,
.author-form,
.price-form,
.submit-form,
.featured-form {
  padding: 0.7rem;
}

.form-fields .featured-checkbox {
  width: 2rem;
  position: relative;
  top: 1.4rem;
}

.submit-form {
  width: 100%;
}

/* Login */
.authenticator-box {
  margin-top: 50px;
}